<div class="d-flex flex-column align-items-center">
<h1 class="text-white pt-5 pb-3">New Capsule</h1>
<h4 class="text-white pb-4">add a new capsule to rent</h4>
</div>

<%= simple_form_for(@capsule) do |f| %>
  <!-- [...] -->
<div class="d-flex justify-content-center">
  <div class="card col-3 bg-transparent text-white justify-content-ceter" >
    <div class="card-body ">
    <div class="mb-3">
    <%= f.input :name %>
    </div>
    <div class="mb-3">
    <%= f.input :description %>
    </div>
    <div class="mb-3">
    <%= f.input :price %>
    </div>
    <div class="mb-3">
    <%= f.input :number %>
    </div>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <div class="d-flex justify-content-center">
    <%= f.button :submit, "Submit", class: "btn btn-light mt-4"%>
    </div>

  <!-- [...] -->
    </div>
  </div>
</div>
<% end %>
<%#

create_table "capsules", force: :cascade do |t|
    t.string "name"
    t.text "description"
    t.float "price"
    t.bigint "user_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer "number"
    t.index ["user_id"], name: "index_capsules_on_user_id" %>
