  <!--THE SEARCH FORM START -->
  <br>
  <br>
  <div>
      <%= form_tag capsules_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Browse capsules"
        %>
        <%= submit_tag "Go", class: "btn btn-primary" %>
      <% end %>
  </div>
  <br>
  <br>
  <!-- THE SEARCH FORM END -->
<% @capsules.each do |capsule| %>
  <div>
    <div>
      <% if capsule.photos[0] %>
        <%= cl_image_tag capsule.photos[0].key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <h4> <%= link_to capsule.name, capsule_path(capsule) %> </h4>
  </div>
  <br>
  <br>
<% end %>

<%= link_to "new capsule", new_capsule_path %>
