  <!--THE SEARCH FORM START -->
  <br>
  <br>
  <div>
      <%= form_tag capsules_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Browse capsules"
        %>
        <%= submit_tag "Go", class: "btn btn-primary" %>
      <% end %>
  </div>
  <br>
  <br>
  <!-- THE SEARCH FORM END -->
<h1 class="index-title"> Available caps</h1>
<div class="card-container">
  <div class="row">
    <% @capsules.each do |capsule| %>
          <div class="card">
            <%= link_to "", capsule_path(capsule), class: "card-link" %>
            <% if capsule.photos[0] %>
              <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
            <% else %>
              <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
            <% end %>
            <div class="details">
              <h2><%= capsule.name %></h2>
              <p><%= capsule.description %></p>
              <div class="more">
                <%= link_to 'booknow', capsule_path(capsule), class: "read-more" %>
              </div>
            </div>
          </div>
    <% end %>
  </div>
</div>
