<div class="container">
  <% if @capsule.photos.any? %>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @capsule.photos.each do |photo| %>
        <% if photo == @capsule.photos.first %>
          <div class="carousel-item active">
            <%= cl_image_tag photo.key, alt: "capsule photo", class: "d-block w-100 carousel-img" %>
          </div>
        <% else %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, alt: "capsule photo", class: "d-block w-100 carousel-img" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>
  <% else %>
    <%= image_tag "capsules_default_display.jpg", alt: "capsule photo", class: "d-block w-100 carousel-img" %>
  <% end %>

  <h2><%= "#{@capsule.name}" %></h2>
  <p class="font-italic"><%= "#{@capsule.description}" %></p>
  <p><%= "# #{@capsule.number}" %></p>
  <p><%= " #{@capsule.price}$" %></p>
  <p><%= "From: #{@capsule.user.first_name} #{@capsule.user.last_name}"%></p>
  <p><%= "Added on: #{@capsule.created_at}" %></p>

  <% if @capsule.user == current_user %>
    <br>
    <% if @capsule.user == current_user %>
      <div data-controller="edit-form">
        <button data-action="click->edit-form#toggleEdit" id="edit-btn" class="btn btn-primary btn-lg">
          Edit
        </button>
        <%= link_to 'Delete', capsule_path(@capsule), class: "btn btn-danger btn-lg", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this capsule?" } %>
        <br>
        <%= simple_form_for(@capsule, html: {data: {"edit-form-target": "editForm"}, class: "d-none"}) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :number %>

          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, "Submit" %>

        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= simple_form_for([@capsule, @booking]) do |f| %>
      <%= f.input :period_start, as: :date, html5: true %>
      <%= f.input :period_end, as: :date, html5: true  %>

      <%= f.button :submit, "Submit" %>
    <% end %>
  <% end %>

</div>
