<div class="container min-vh-100">
  <div class="row align-items-center">
    <div class="col-6">
      <% if @capsule.photos.any? %>
      <div id="carouselExampleControls" class="p-2 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @capsule.photos.each do |photo| %>
            <% if photo == @capsule.photos.first %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, alt: "capsule photo", class: "d-block w-100 carousel-img" %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, alt: "capsule photo", class: "d-block w-100 carousel-img" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", alt: "capsule photo", class: "d-block w-100 carousel-img" %>
      <% end %>
    </div>
    <div class="col-6 d-flex flex-column p-2 text-white">
      <h2><%= "#{@capsule.name}" %></h2>
      <div class="row">
        <p class="col-2">#</p>
        <p class="col-10"><%= @capsule.number %></p>
      </div>
      <div class="row">
        <p class="col-2">Price</p>
        <p class="col-10"><%= @capsule.price %> $</p>
      </div>
      <div class="row">
        <p class="col-2">Owner</p>
        <p class="col-10"><%= "#{@capsule.user.first_name} #{@capsule.user.last_name}" %></p>
      </div>
      <div class="row">
        <p class="col-2">Added on</p>
        <p class="col-10"><%= @capsule.created_at.strftime("%d.%m.%Y") %></p>
      </div>
    </div>
  </div>
  <div class="p-2 text-white">
    <p class="font-italic"><%= "#{@capsule.description}" %></p>
  </div>

  <div class="p-2 text-white">
    <% if @capsule.user == current_user %>
      <br>
      <% if @capsule.user == current_user %>
        <div data-controller="edit-form">
          <button data-action="click->edit-form#toggleEdit" id="edit-btn" class="btn btn-primary btn-lg">
            Edit
          </button>
          <%= link_to 'Delete', capsule_path(@capsule), class: "btn btn-danger btn-lg", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this capsule?" } %>
          <br>
          <%= simple_form_for(@capsule, html: {data: {"edit-form-target": "editForm"}, class: "d-none"}) do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :price %>
              <%= f.input :number %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>

              <%= f.button :submit, "Submit" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h2>Book this capsule</h2>
          <%= simple_form_for([@capsule, @booking]) do |f| %>

          <div class="row">
            <div class="col-5">
              <%= f.input :period_start, as: :date, html5: true, label: false, class: "form-control input-group-text" %>
            </div>
            <div class="col-5">
              <%= f.input :period_end, as: :date, html5: true, label: false, class: "form-control input-group-text" %>
            </div>
            <div class="col-2">
              <%= f.button :submit, "Submit", class: "btn btn-light mb-3" %>
            </div>
          </div>
          <% end %>
    <% end %>
  </div>


</div>
