<ul>
  <% if @capsule.photos.attached? %>
    <% @capsule.photos.each do |photo| %>
      <li><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></li>
    <% end %>
  <% end %>
  <li><%= "Name: #{@capsule.name}" %></li>
  <li><%= "Description: #{@capsule.description}" %></li>
  <li><%= "Number: #{@capsule.number}" %></li>
  <li><%= "Price: #{@capsule.price}$" %></li>
  <li><%= "From: #{@capsule.user.first_name} #{@capsule.user.last_name}"%></li>
  <li><%= "Date: #{@capsule.created_at}" %></li>
</ul>

<%= simple_form_for([@capsule, @booking]) do |f| %>
  <%= f.input :period_start, as: :date %>
  <%= f.input :period_end, as: :date  %>

  <%= f.button :submit, "Submit" %>
<% end %>


<h3>EDIT / UPDATE CAPSULE</h3>
<%= simple_form_for(@capsule) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :number %>

  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Submit" %>

<% end %>
