<div class="banner">
  <!-- Search bar start -->
  <%= form_tag capsules_path, method: :get, class: "searchbar-homepage" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control form-control-lg",
      placeholder: "Browse capsules"
    %>
    <%= submit_tag "Browse", class: "btn btn-dark btn-lg" %>
  <% end %>
  <!-- Search bar end -->
</div>

  <h1 class="hot"> WHAT'S HOT? 🔥</h1>
<main class="card-container">
  <div class="row grid-card-container">
    <div class="card">
      <img src=<%= image_path("Berghain.jpeg") %> alt="">
      <div class="details">
        <h2>Berghain</h2>
        <p>Bring Berghain wherever you go</p>
        <div class="more">
          <a href="#" class="read-more">book now</a>
        </div>
      </div>
    </div>
    <% @capsules.each do |capsule| %>
      <div class="card">
        <%= link_to "", capsule_path(capsule), class: "card-link" %>
        <% if capsule.photos[0] %>
          <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
        <% else %>
          <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
        <% end %>
        <div class="details">
          <h2><%= capsule.name %></h2>
          <p><%= capsule.description %></p>
          <div class="more">
            <%= link_to 'booknow', capsule_path(capsule), class: "read-more" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>
