
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
      <div class="container">
        <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
        <p>Change your night, change the world.</p>
      </div>
    </div>
      <main class="grid">
<% @capsules.each do |capsule| %>
    <div class="home-container">
        <article class="home-card">
         <% if capsule.photos[0] %>
        <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
      <% end %>
          <div class="text">
            <h3 class="home-card-title"><%= capsule.name %></h3>
            <p><%= capsule.description %></p>
            <button class="home-card-btn">Book Now</button>
          </div>
        </article>
    </div>
<% end %>
  </main>
      <div class="footer">
    </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart">Konstantin Greif - Johannes Ibald - Donghwan Kim - Jeremy Bordat</i>
  </div>
</div>
