
<% @capsules.each do |capsule| %>
    <div class="home-container">
        <article class="home-card">
         <% if capsule.photos[0] %>
        <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
      <% end %>
          <div class="text">
            <h3 class="home-card-title"><%= capsule.name %></h3>
            <p><%= capsule.description %></p>
            <%= link_to 'Show', capsule_path(capsule), class: "home-card-btn" %>
          </div>
        </article>
    </div>
<% end %>
