
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
      <div class="container">
        <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
        <p>Change your night, change the world.</p>
      </div>
    </div>
      <main class="grid">
<% @capsules.each do |capsule| %>
    <div class="home-container">
        <article class="home-card">
         <% if capsule.photos[0] %>
        <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
      <% end %>
          <div class="text">
            <h3 class="home-card-title"><%= capsule.name %></h3>
            <p><%= capsule.description %></p>
            <%= link_to 'Show', capsule_path(capsule), class: "home-card-btn" %>
          </div>
        </article>
    </div>
<% end %>
  </main>

