
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_capsule.gif") %>);">
      <div class="container">
        <h1><strong>Capsule Corp. </strong> Welcome to the most <strong>creative house</strong>!</h1>
        <p>Change your night, change the world.</p>
      </div>
    </div>

    <%# <div class="cards-container d-flex"> %>
      <%# <div class="card_1" style="width: 18rem;"> %>
        <%# <img class="card-img-top" src="./ assets/images/caps_house" alt="Card image cap"> %>

      <%# <div class="card-body"> %>
          <%# <div class="img" style="background-image: url(<%= image_path("caps_house"))"> %>
            <%# <h5 class="card-title">Capsule n°15</h5> %>
            <%# <p class="card-text"><strong>Majestic views, Incredible space and a patio to hang out on and a fireplace for cozy evenings. Fully equipped capsule. Child friendly, NO PETS.</strong> </p> %>
          <%# <a href="#" class="btn btn-primary">BOOK NOW</a> %>
          <%# </div> %>
            <%# <div class="card_2" style="width: 18rem;"> %>
              <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
            <%# <div class="card-body"> %>
                <%# <h5 class="card-title">Card title</h5> %>
                <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
              <%# </div> %>
              <%# <div class="card_3" style="width: 18rem;"> %>
                <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
                <%# <div class="card-body"> %>
                  <%# <h5 class="card-title">Card title</h5> %>
                  <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
                  <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
                <%# </div> %>
              <%# </div> %>
            <%# </div> %>
          <%# </div> %>
      <%# </div> %>

    <div class="home-container">
      <main class="grid">
        <article class="home-card">
          <%= image_tag "caps_house_1.jpg", class: "home-card-img" %>
          <div class="text">
            <h3 class="home-card-title">Capsule 47</h3>
            <p>Looking for space, comfort and touch of luxury for your holidays.</p>
            <button class="home-card-btn">Book Now</button>
          </div>
        </article>
        <article>
          <%= image_tag "caps_house_1.jpg" %>
          <div class="text">
            <h3>Capsule 87</h3>
            <p>Cosy and ideal for Familly and pets are welcome.</p>
            <button>Book Now</button>
          </div>
        </article>
        <article>
          <%= image_tag "caps_house_1.jpg" %>
          <div class="text">
            <h3>Capsule 303</h3>
            <p>Ideal for birthday, or wending party.</p>
            <button>Book Now</button>
          </div>
        </article>
      </main>
      <div class="footer">
    </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart">Konstantin Greif - Johannes Ibald - Donghwan Kim - Jeremy Bordat</i>
  </div>
</div>
