<h1 class="text-white">Dashboard</h1>
<h3 class="text-white">Your capsules</h2>

<% @capsules.each do |capsule| %>
  <div class="row text-white">
    <div class="col-4">
      <% if capsule.photos[0] %>
        <%= cl_image_tag capsule.photos[0].key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "capsules_default_display.jpg", height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="col-8">
      <% capsule.bookings.each do |booking| %>
          Booking ID: <%= booking.id %> - <%= booking.period_start.strftime("%d.%m.%Y") %>-<%= booking.period_end.strftime("%d.%m.%Y") %> by <%= booking.user.first_name %> <%= booking.user.last_name %>
          <% if booking.pending? %>
            <%= link_to "Accept", accept_capsule_booking_path(capsule, booking), class: "btn btn-success",  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept?" }%>
            <%= link_to "Decline", decline_capsule_booking_path(capsule, booking), class: "btn btn-danger",  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to decline?" }%>
          <% else %>
            <%= booking.status %>
          <% end %>
      <% end %>
    </div>
    <h4> <%= link_to capsule.name, capsule_path(capsule) %> </h4>
  </div>
<% end %>

<h3 class="text-white">Your bookings</h2>
<% @created_bookings.each do |booking| %>
    <div class="text-white row">
      <div class="col-4">
        <% if booking.capsule.photos[0] %>
          <%= cl_image_tag booking.capsule.photos[0].key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag "capsules_default_display.jpg", height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="col-8 d-flex flex-column">
        <h4>Booking-ID: <%= booking.id %></h4>
        <p><%= "#{booking.period_start.strftime("%d.%m.%Y")}-#{booking.period_end.strftime("%d.%m.%Y")}" %></p>
        <p>Status: <%= booking.status %></p>
      </div>
      <p><%= link_to booking.capsule.name, capsule_path(booking.capsule) %></p>
    </div>
<% end %>
