<div class="container min-vh-100">
  <h1 class="text-white">Dashboard</h1>
  <h3 class="text-white">Your capsules</h2>
  <% @capsules.each do |capsule| %>
    <div class="row text-white">
      <div class="col-6">
          <div class="card">
            <%= link_to "", capsule_path(capsule), class: "card-link" %>
            <% if capsule.photos[0] %>
              <%= cl_image_tag capsule.photos[0].key, class: "home-card-img"%>
            <% else %>
              <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
            <% end %>
            <div class="details">
              <h2><%= capsule.name %></h2>
              <p><%= capsule.description %></p>
              <div class="more">
                <%= link_to 'book now', capsule_path(capsule), class: "read-more" %>
              </div>
            </div>
          </div>
      </div>
      <div class="col-6">
        <% unless capsule.bookings.any? %>
          <p>No bookings yet</p>
        <% end %>
        <% capsule.bookings.each do |booking| %>
            Booking ID: <%= booking.id %> - <%= booking.period_start.strftime("%d.%m.%Y") %>-<%= booking.period_end.strftime("%d.%m.%Y") %> by <%= booking.user.first_name %> <%= booking.user.last_name %>
            <div class="mb-3">
              <% if booking.pending? %>
                <%= link_to "Accept", accept_capsule_booking_path(capsule, booking), class: "btn btn-success",  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to accept?" }%>
                <%= link_to "Decline", decline_capsule_booking_path(capsule, booking), class: "btn btn-danger",  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to decline?" }%>
              <% else %>
                <%= booking.status %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <h3 class="text-white">Your bookings</h2>
  <% @created_bookings.each do |booking| %>
      <div class="text-white row">
        <div class="col-6">
          <div class="card">
            <%= link_to "", capsule_path(booking.capsule), class: "card-link" %>
            <% if booking.capsule.photos[0] %>
              <%= cl_image_tag booking.capsule.photos[0].key, class: "home-card-img"%>
            <% else %>
              <%= image_tag "capsules_default_display.jpg", class: "home-card-img" %>
            <% end %>
            <div class="details">
              <h2><%= booking.capsule.name %></h2>
              <p><%= booking.capsule.description %></p>
              <div class="more">
                <%= link_to 'book now', capsule_path(booking.capsule), class: "read-more" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex flex-column">
          <h4>Booking-ID: <%= booking.id %></h4>
          <p><%= "#{booking.period_start.strftime("%d.%m.%Y")} - #{booking.period_end.strftime("%d.%m.%Y")}" %></p>
          <p>Status: <%= booking.status %></p>
        </div>
      </div>
  <% end %>
